<app-header [title]="'Player Ranking'"></app-header>
<div class="container text-light mt-3">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h3>
        <fa-icon [icon]="faTrophy" size="lg"></fa-icon>
      </h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <span class="h4">Your Ranking</span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center mt-2">
      <span class="h3 ml-4">{{ranking}}&nbsp;<sup>st</sup></span>
    </div>
  </div>
  <div class="row justify-content-center mt-4 overflow-auto">
    <table class="table table-sm table-striped table-dark">
      <thead>
        <tr>
          <th scope="col" class="w-20 text-center">
            <fa-icon [icon]="faTrophy" size="sm"></fa-icon>
          </th>
          <th scope="col" class="w-60">Player</th>
          <th scope="col" class="w-20 text-center">Record</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of scores; let i = index;">
          <td scope="row" class="text-center">{{i + 1}}</td>
          <td>{{s.player}}</td>
          <td class="text-center">{{s.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onContinue()">
    Next Mission
  </button>
</nav>